.container{
    margin:20px;
}

.item{
    width:25%;
    float:left;
}

.item-box{
    height:100px;
    margin-bottom:20px;
}

.green{
    background-color:green;
}

.yellow{
    background-color:yellow;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

@media(max-width:1000px){
    .item{
        width:50%;
    }
}

@media(max-width:670px){
    .item{
        width:100%;
    }
}
    
